page-feed {
ion-card{
  border-radius: 10px!important;
}
ion-col button{
  color: #ffffff!important;
}
.avatar{
  background-color: #f34f43!important;
}
.avatar h2, p{
  color:#ffffff!important;
  font-weight: bold;
}
ion-row, .card-md, .comentario{
  background-color:#242a31!important;
}

}
