
  ion-content{
      background-color: #151a21!important;
      color: #ffffff!important;
    }
.tabs-md .tabbar {
  //background-color: #585858!important;
  color: #ffffff!important;
}


.tabs-md .tab-button[aria-selected=true].tab-button-icon,.tab-button-text {
  color: #f34f43!important;
}
